flows.json
[
    {
        "id": "f140a926713e3a4c",
        "type": "tab",
        "label": "Вечер",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "78f643a337253a04",
        "type": "tab",
        "label": "Утро",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a71775bf701198d6",
        "type": "tab",
        "label": "Отслеживание состояния сервера (Отказоустойчивость)",
        "disabled": false,
        "info": "Меняет флаг 'enableFlow'",
        "env": []
    },
    {
        "id": "04410fa1b97b9e81",
        "type": "tab",
        "label": "Уход из дома",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cf6372b8e0024d22",
        "type": "tab",
        "label": "Возвращение домой",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6164e426732213ef",
        "type": "tab",
        "label": "Нотификация отчистки барабана стирали",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b6a0c09cbb5afeb4",
        "type": "tab",
        "label": "Пылесос",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fb9ffeb46b14d217",
        "type": "subflow",
        "name": "Управление автоматизацией",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 80,
                "wires": [
                    {
                        "id": "90d5ac19450415d4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 560,
                "y": 80,
                "wires": [
                    {
                        "id": "90d5ac19450415d4",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "849de7d11f2ee5ff",
        "type": "subflow",
        "name": "Отправить сообщение в Telegram",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "b3265112953dba4c"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "7968c6b6.08c848",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "90d5ac19450415d4",
        "type": "function",
        "z": "fb9ffeb46b14d217",
        "name": "Яввляется ли текущий сервер главным",
        "func": "if (global.get('enableFlow')) {\n    var entity_id = env.get(\"entity_id\");\n    if (entity_id === undefined || \"off\" !== global.get(\"homeassistant.homeAssistant.states['\" + entity_id + \"'].state\")) {\n        return msg;        \n    }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b3265112953dba4c",
        "type": "function",
        "z": "849de7d11f2ee5ff",
        "name": "Подготовка данных для отправки сообщения в Telegram",
        "func": "return {\n    payload: {\n        data: {\n            target: global.get(\"secrets\")['telegram_danilov_info_group_id'],\n            message: msg.payload\n        }\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 60,
        "wires": [
            [
                "f17b5b3e8f0d296a"
            ]
        ]
    },
    {
        "id": "f17b5b3e8f0d296a",
        "type": "api-call-service",
        "z": "849de7d11f2ee5ff",
        "name": "Отправить сообщение в Telegram",
        "server": "7968c6b6.08c848",
        "version": 5,
        "debugenabled": false,
        "domain": "telegram_bot",
        "service": "send_message",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 700,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "48ed7437f9c7d3bd",
        "type": "server-state-changed",
        "z": "f140a926713e3a4c",
        "name": "Освещение улицы из зала низкое?",
        "server": "7968c6b6.08c848",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.0xa4c138ccfeaeb6d9_illuminance",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "num",
        "ifState": "2400",
        "ifStateType": "num",
        "ifStateOperator": "lte",
        "outputOnlyOnStateChange": false,
        "for": "0",
        "forType": "num",
        "forUnits": "seconds",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [],
        "x": 160,
        "y": 160,
        "wires": [
            [
                "c45c3e41fdbf54fe"
            ],
            [
                "a9944443a148680d"
            ]
        ]
    },
    {
        "id": "012747a5ad4fa51f",
        "type": "api-call-service",
        "z": "f140a926713e3a4c",
        "name": "Закрыть шторы в зале и спальне",
        "server": "7968c6b6.08c848",
        "version": 5,
        "debugenabled": false,
        "domain": "cover",
        "service": "close_cover",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "cover.0x54ef44100044454b",
            "cover.0x54ef441000070ae3"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1740,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c45c3e41fdbf54fe",
        "type": "subflow:fb9ffeb46b14d217",
        "z": "f140a926713e3a4c",
        "name": "",
        "env": [
            {
                "name": "entity_id",
                "value": "switch.evening_node_red_flow",
                "type": "str"
            }
        ],
        "x": 490,
        "y": 120,
        "wires": [
            [
                "55a22b80d41384d1"
            ]
        ]
    },
    {
        "id": "55a22b80d41384d1",
        "type": "time-range-switch",
        "z": "f140a926713e3a4c",
        "name": "20:00 - 22:00",
        "lat": "",
        "lon": "",
        "startTime": "20:00",
        "endTime": "22:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 710,
        "y": 120,
        "wires": [
            [
                "28d2c5451f7e90cb"
            ],
            [
                "a9944443a148680d"
            ]
        ]
    },
    {
        "id": "713b0d2dd1916d46",
        "type": "api-current-state",
        "z": "f140a926713e3a4c",
        "name": "Освещение улицы из зала все еще низкое?",
        "server": "7968c6b6.08c848",
        "version": 3,
        "outputs": 2,
        "halt_if": "2400",
        "halt_if_type": "num",
        "halt_if_compare": "lte",
        "entity_id": "sensor.0xa4c138ccfeaeb6d9_illuminance",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1180,
        "y": 100,
        "wires": [
            [
                "ebcbf13505aad259"
            ],
            []
        ]
    },
    {
        "id": "ebcbf13505aad259",
        "type": "trigger",
        "z": "f140a926713e3a4c",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1500,
        "y": 80,
        "wires": [
            [
                "012747a5ad4fa51f"
            ]
        ]
    },
    {
        "id": "28d2c5451f7e90cb",
        "type": "trigger",
        "z": "f140a926713e3a4c",
        "name": "Ждать 10 мин",
        "op1": "",
        "op2": "0",
        "op1type": "nul",
        "op2type": "str",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 900,
        "y": 100,
        "wires": [
            [
                "713b0d2dd1916d46"
            ]
        ]
    },
    {
        "id": "a9944443a148680d",
        "type": "function",
        "z": "f140a926713e3a4c",
        "name": "Сброс",
        "func": "\nreturn {reset: true};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 160,
        "wires": [
            [
                "ebcbf13505aad259"
            ]
        ]
    },
    {
        "id": "0c06cb86c4ddc8f3",
        "type": "inject",
        "z": "78f643a337253a04",
        "name": "В 09:00",
        "props": [],
        "repeat": "",
        "crontab": "00 09 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "df3de0a48e89f470"
            ]
        ]
    },
    {
        "id": "c7ff670e0495f846",
        "type": "api-call-service",
        "z": "78f643a337253a04",
        "name": "Открыть шторы в зале на 70",
        "server": "7968c6b6.08c848",
        "version": 5,
        "debugenabled": false,
        "domain": "cover",
        "service": "set_cover_position",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "cover.0x54ef441000070ae3"
        ],
        "data": "{\"position\":70}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 650,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "9c73ccec8acb6476",
        "type": "api-call-service",
        "z": "78f643a337253a04",
        "name": "Открыть шторы в стальне",
        "server": "7968c6b6.08c848",
        "version": 5,
        "debugenabled": false,
        "domain": "cover",
        "service": "open_cover",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "cover.0x54ef44100044454b"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 640,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "df3de0a48e89f470",
        "type": "subflow:fb9ffeb46b14d217",
        "z": "78f643a337253a04",
        "name": "",
        "env": [
            {
                "name": "entity_id",
                "value": "switch.morning_node_red_flow",
                "type": "str"
            }
        ],
        "x": 350,
        "y": 80,
        "wires": [
            [
                "c7ff670e0495f846",
                "9c73ccec8acb6476"
            ]
        ]
    },
    {
        "id": "165c151e158613bb",
        "type": "inject",
        "z": "78f643a337253a04",
        "name": "В 08:00",
        "props": [],
        "repeat": "",
        "crontab": "00 08 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "d9e04a9a75014a91"
            ]
        ]
    },
    {
        "id": "bec7e277c722f8e3",
        "type": "api-call-service",
        "z": "78f643a337253a04",
        "name": "Открыть шторы в зале на 15",
        "server": "7968c6b6.08c848",
        "version": 5,
        "debugenabled": false,
        "domain": "cover",
        "service": "set_cover_position",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "cover.0x54ef441000070ae3"
        ],
        "data": "{\"position\":15}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 650,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "02a2a07a2ef4c1f0",
        "type": "api-call-service",
        "z": "78f643a337253a04",
        "name": "Открыть шторы в стальне на 15",
        "server": "7968c6b6.08c848",
        "version": 5,
        "debugenabled": false,
        "domain": "cover",
        "service": "open_cover",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "cover.0x54ef44100044454b"
        ],
        "data": "{\"position\":15}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 660,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "9a90a3d88c4a3121",
        "type": "inject",
        "z": "78f643a337253a04",
        "name": "В 08:30",
        "props": [],
        "repeat": "",
        "crontab": "30 08 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "3a067d3ac25e68e4"
            ]
        ]
    },
    {
        "id": "97ac725f38409921",
        "type": "api-call-service",
        "z": "78f643a337253a04",
        "name": "Открыть шторы в зале на 30",
        "server": "7968c6b6.08c848",
        "version": 5,
        "debugenabled": false,
        "domain": "cover",
        "service": "set_cover_position",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "cover.0x54ef441000070ae3"
        ],
        "data": "{\"position\":30}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 650,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "75fd2f0bd51a8af7",
        "type": "api-call-service",
        "z": "78f643a337253a04",
        "name": "Открыть шторы в стальне на 25",
        "server": "7968c6b6.08c848",
        "version": 5,
        "debugenabled": true,
        "domain": "cover",
        "service": "open_cover",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "cover.0x54ef44100044454b"
        ],
        "data": "{\"position\":25}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 660,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "3a067d3ac25e68e4",
        "type": "subflow:fb9ffeb46b14d217",
        "z": "78f643a337253a04",
        "name": "",
        "env": [
            {
                "name": "entity_id",
                "value": "switch.morning_node_red_flow",
                "type": "str"
            }
        ],
        "x": 350,
        "y": 220,
        "wires": [
            [
                "97ac725f38409921",
                "75fd2f0bd51a8af7"
            ]
        ]
    },
    {
        "id": "d9e04a9a75014a91",
        "type": "subflow:fb9ffeb46b14d217",
        "z": "78f643a337253a04",
        "name": "",
        "env": [
            {
                "name": "entity_id",
                "value": "switch.morning_node_red_flow",
                "type": "str"
            }
        ],
        "x": 350,
        "y": 360,
        "wires": [
            [
                "bec7e277c722f8e3",
                "02a2a07a2ef4c1f0"
            ]
        ]
    },
    {
        "id": "f12c9cb9cb5b76f2",
        "type": "trigger-state",
        "z": "a71775bf701198d6",
        "name": "Изменение состояния главного сервера",
        "server": "7968c6b6.08c848",
        "version": 4,
        "inputs": 0,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.main_control",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [],
        "customOutputs": [],
        "outputInitially": false,
        "stateType": "habool",
        "enableInput": false,
        "x": 1000,
        "y": 60,
        "wires": [
            [
                "f3259336c77a306a"
            ],
            [
                "f3259336c77a306a"
            ]
        ]
    },
    {
        "id": "f3259336c77a306a",
        "type": "function",
        "z": "a71775bf701198d6",
        "name": "Обновить флаг enableFlow",
        "func": "global.set(\"enableFlow\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 100,
        "wires": [
            [
                "07ac0919a977d6b2"
            ]
        ]
    },
    {
        "id": "54c12555514743bc",
        "type": "inject",
        "z": "a71775bf701198d6",
        "name": "Инициализация флага",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 670,
        "y": 140,
        "wires": [
            [
                "10dd4a898c0d7f27"
            ]
        ]
    },
    {
        "id": "10dd4a898c0d7f27",
        "type": "function",
        "z": "a71775bf701198d6",
        "name": "Получить актуальный статус сервера",
        "func": "return {payload: \"on\" === global.get(\"homeassistant.homeAssistant.states['binary_sensor.main_control'].state\")};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 140,
        "wires": [
            [
                "f3259336c77a306a"
            ]
        ]
    },
    {
        "id": "3f75ae96483cc776",
        "type": "http request",
        "z": "a71775bf701198d6",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 950,
        "y": 380,
        "wires": [
            [
                "b9d3d0080c013777"
            ]
        ]
    },
    {
        "id": "2adf81679e1af383",
        "type": "inject",
        "z": "a71775bf701198d6",
        "name": "",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "511c624bbda3b751"
            ]
        ]
    },
    {
        "id": "d3c525ee01e5e40f",
        "type": "function",
        "z": "a71775bf701198d6",
        "name": "Формирование URL к главному серверу",
        "func": "msg.url = \"http://\" + global.get(\"homeassistant.homeAssistant.states['sensor.main_control'].state\") + \":8123/manifest.json\"\nmsg.requestTimeout = 1000;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 340,
        "wires": [
            [
                "3f75ae96483cc776"
            ]
        ]
    },
    {
        "id": "511c624bbda3b751",
        "type": "api-current-state",
        "z": "a71775bf701198d6",
        "name": "Является ли сервер главным?",
        "server": "7968c6b6.08c848",
        "version": 3,
        "outputs": 2,
        "halt_if": "true",
        "halt_if_type": "bool",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.main_control",
        "state_type": "habool",
        "blockInputOverrides": false,
        "outputProperties": [],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 330,
        "y": 320,
        "wires": [
            [],
            [
                "f96f60b67e4adc0a"
            ]
        ]
    },
    {
        "id": "b9d3d0080c013777",
        "type": "switch",
        "z": "a71775bf701198d6",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 420,
        "wires": [
            [
                "3db19d284cc307dc"
            ],
            [
                "31427102c35c1e63"
            ]
        ]
    },
    {
        "id": "3db19d284cc307dc",
        "type": "change",
        "z": "a71775bf701198d6",
        "name": "Установить флаг в true",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 400,
        "wires": [
            [
                "d16c0c8f3583de03",
                "f3259336c77a306a"
            ]
        ]
    },
    {
        "id": "60b55a1ac29fdcb4",
        "type": "http request",
        "z": "a71775bf701198d6",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1930,
        "y": 420,
        "wires": [
            [
                "c3b9765303efbc93"
            ]
        ]
    },
    {
        "id": "2c951e38bf501615",
        "type": "function",
        "z": "a71775bf701198d6",
        "name": "Формирование URL к главному серверу",
        "func": "msg.url = \"http://\" + global.get(\"homeassistant.homeAssistant.states['sensor.main_control'].state\") + \":8123/manifest.json\";\nmsg.requestTimeout = 1000;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 420,
        "wires": [
            [
                "60b55a1ac29fdcb4"
            ]
        ]
    },
    {
        "id": "c3b9765303efbc93",
        "type": "switch",
        "z": "a71775bf701198d6",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "200",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 2090,
        "y": 420,
        "wires": [
            [
                "ee575a55cbdfa113"
            ],
            [
                "d16c0c8f3583de03"
            ]
        ]
    },
    {
        "id": "d16c0c8f3583de03",
        "type": "delay",
        "z": "a71775bf701198d6",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1430,
        "y": 420,
        "wires": [
            [
                "2c951e38bf501615"
            ]
        ]
    },
    {
        "id": "ee575a55cbdfa113",
        "type": "delay",
        "z": "a71775bf701198d6",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2260,
        "y": 400,
        "wires": [
            [
                "465e88bc03e9014e"
            ]
        ]
    },
    {
        "id": "465e88bc03e9014e",
        "type": "change",
        "z": "a71775bf701198d6",
        "name": "Установить флан в false",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2470,
        "y": 400,
        "wires": [
            [
                "f3259336c77a306a",
                "31427102c35c1e63"
            ]
        ]
    },
    {
        "id": "07ac0919a977d6b2",
        "type": "function",
        "z": "a71775bf701198d6",
        "name": "Подготовить список автоматизаций",
        "func": "var main_automation_entity_ids = Object.keys(global.get(\"homeassistant\").homeAssistant.states)\n    .filter(key => key.endsWith('_main'));\n\nreturn {\n    \"payload\": {\n        \"domain\": \"homeassistant\",\n        \"service\": msg.payload ? \"turn_on\" : \"turn_off\",\n        \"target\": {\n            \"entity_id\": main_automation_entity_ids\n        }\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 100,
        "wires": [
            [
                "82e2c23c02379590"
            ]
        ]
    },
    {
        "id": "82e2c23c02379590",
        "type": "api-call-service",
        "z": "a71775bf701198d6",
        "name": "Вкл/Выкл автоматизации",
        "server": "7968c6b6.08c848",
        "version": 5,
        "debugenabled": false,
        "domain": "homeassistant",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1980,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f96f60b67e4adc0a",
        "type": "trigger",
        "z": "a71775bf701198d6",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 600,
        "y": 340,
        "wires": [
            [
                "d3c525ee01e5e40f"
            ]
        ]
    },
    {
        "id": "31427102c35c1e63",
        "type": "function",
        "z": "a71775bf701198d6",
        "name": "Сброс",
        "func": "\nreturn {reset: true};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 540,
        "wires": [
            [
                "f96f60b67e4adc0a"
            ]
        ]
    },
    {
        "id": "21575f7574b3b5e0",
        "type": "server-state-changed",
        "z": "04410fa1b97b9e81",
        "name": "Закрылась ли входая дверь (на основе ночника)",
        "server": "7968c6b6.08c848",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "light.xiaomi_gateway_001_light",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 250,
        "y": 180,
        "wires": [
            [
                "4bc9491ae24c6217"
            ],
            []
        ]
    },
    {
        "id": "4bc9491ae24c6217",
        "type": "subflow:fb9ffeb46b14d217",
        "z": "04410fa1b97b9e81",
        "name": "",
        "env": [
            {
                "name": "entity_id",
                "value": "switch.leave_home_node_red_flow",
                "type": "str"
            }
        ],
        "x": 610,
        "y": 160,
        "wires": [
            [
                "1dda4178a40af279",
                "9aa2d43eaca4d979",
                "8e16fbb2d66b0503"
            ]
        ]
    },
    {
        "id": "1dda4178a40af279",
        "type": "api-call-service",
        "z": "04410fa1b97b9e81",
        "name": "Пробуждение камер из сна",
        "server": "7968c6b6.08c848",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.c2c_k08011542_sleep",
            "switch.ty2_k15013479_sleep",
            "switch.ty2_j23903450_sleep",
            "switch.ty2_j23903681_sleep"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 900,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "9aa2d43eaca4d979",
        "type": "api-call-service",
        "z": "04410fa1b97b9e81",
        "name": "Выключение света",
        "server": "7968c6b6.08c848",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.0x7cb94c77ef400000",
            "light.yeelight_arwen_550c",
            "light.yeelight_450c_2",
            "light.wiz_ceiling_toilet",
            "light.yeelight_450c_0",
            "light.0xa4c1383efb0fff4f",
            "light.0x00158d0007504210"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 870,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8e16fbb2d66b0503",
        "type": "api-call-service",
        "z": "04410fa1b97b9e81",
        "name": "Выключение устройств",
        "server": "7968c6b6.08c848",
        "version": 5,
        "debugenabled": false,
        "domain": "homeassistant",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.tuya_switch_002_1",
            "media_player.danilov_samsung_au7570_50_tv"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 890,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "f40a13337a454132",
        "type": "server-state-changed",
        "z": "cf6372b8e0024d22",
        "name": "Открылась входая дверь (на основе ночника)",
        "server": "7968c6b6.08c848",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "light.xiaomi_gateway_001_light",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 280,
        "y": 200,
        "wires": [
            [
                "42f7cae8022309c6"
            ],
            []
        ]
    },
    {
        "id": "42f7cae8022309c6",
        "type": "subflow:fb9ffeb46b14d217",
        "z": "cf6372b8e0024d22",
        "name": "",
        "env": [
            {
                "name": "entity_id",
                "value": "switch.return_to_home_node_red_flow",
                "type": "str"
            }
        ],
        "x": 630,
        "y": 180,
        "wires": [
            [
                "7e35a1d8c9a616c6"
            ]
        ]
    },
    {
        "id": "7e35a1d8c9a616c6",
        "type": "api-call-service",
        "z": "cf6372b8e0024d22",
        "name": "Пробуждение камер из сна",
        "server": "7968c6b6.08c848",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.c2c_k08011542_sleep",
            "switch.ty2_k15013479_sleep",
            "switch.ty2_j23903450_sleep",
            "switch.ty2_j23903681_sleep"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 900,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "9078964e689ce371",
        "type": "server-state-changed",
        "z": "6164e426732213ef",
        "name": "Стиралка достиралась?",
        "server": "7968c6b6.08c848",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.lg_thinq_washing_machine_wash_completed",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "habool",
        "ifState": "true",
        "ifStateType": "bool",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [],
        "x": 170,
        "y": 160,
        "wires": [
            [
                "ba85147591068793"
            ],
            []
        ]
    },
    {
        "id": "5c47f08ca55a7f7d",
        "type": "api-call-service",
        "z": "6164e426732213ef",
        "name": "Изменение кол-ва стирок",
        "server": "7968c6b6.08c848",
        "version": 5,
        "debugenabled": false,
        "domain": "number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "number.washing_started_counter"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1160,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "67cca26538ccacf0",
        "type": "function",
        "z": "6164e426732213ef",
        "name": "Инкремент",
        "func": "return {\n    payload: {\n        data: {\n            value: msg.payload + 1\n        }\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 160,
        "wires": [
            [
                "5c47f08ca55a7f7d"
            ]
        ]
    },
    {
        "id": "ecf2b083ede06ab4",
        "type": "api-current-state",
        "z": "6164e426732213ef",
        "name": "Получить последнее кол-во стирок",
        "server": "7968c6b6.08c848",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "number.washing_started_counter",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 710,
        "y": 160,
        "wires": [
            [
                "67cca26538ccacf0"
            ]
        ]
    },
    {
        "id": "ba85147591068793",
        "type": "api-current-state",
        "z": "6164e426732213ef",
        "name": "Очистка барабана?",
        "server": "7968c6b6.08c848",
        "version": 3,
        "outputs": 2,
        "halt_if": "Очистка барабана",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.lg_thinq_washing_machine_current_course",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 420,
        "y": 140,
        "wires": [
            [
                "24f00514aac515fa"
            ],
            [
                "ecf2b083ede06ab4"
            ]
        ]
    },
    {
        "id": "24f00514aac515fa",
        "type": "api-call-service",
        "z": "6164e426732213ef",
        "name": "Сброс кол-ва стирок",
        "server": "7968c6b6.08c848",
        "version": 5,
        "debugenabled": false,
        "domain": "number",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "number.washing_started_counter"
        ],
        "data": "{\"value\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 660,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "a8daef450dc13244",
        "type": "server-state-changed",
        "z": "6164e426732213ef",
        "name": "Прошло больше 30 стирок?",
        "server": "7968c6b6.08c848",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "number.washing_started_counter",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "num",
        "ifState": "30",
        "ifStateType": "num",
        "ifStateOperator": "gte",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Прошло больше 30 стирок без очистки барабана",
                "valueType": "str"
            }
        ],
        "x": 180,
        "y": 320,
        "wires": [
            [
                "fa3dd89c14fe6049"
            ],
            []
        ]
    },
    {
        "id": "fa3dd89c14fe6049",
        "type": "subflow:849de7d11f2ee5ff",
        "z": "6164e426732213ef",
        "name": "",
        "x": 480,
        "y": 300,
        "wires": []
    },
    {
        "id": "79a5d473f4b6c5dd",
        "type": "inject",
        "z": "b6a0c09cbb5afeb4",
        "name": "В 12:00",
        "props": [],
        "repeat": "",
        "crontab": "00 12 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "c623bd2b8eacce76"
            ]
        ]
    },
    {
        "id": "cd791fc7a44cc1a0",
        "type": "inject",
        "z": "b6a0c09cbb5afeb4",
        "name": "В 16:00",
        "props": [],
        "repeat": "",
        "crontab": "00 16 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "c623bd2b8eacce76"
            ]
        ]
    },
    {
        "id": "fe1fd4189256885a",
        "type": "inject",
        "z": "b6a0c09cbb5afeb4",
        "name": "В 20:00",
        "props": [],
        "repeat": "",
        "crontab": "00 20 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "c623bd2b8eacce76"
            ]
        ]
    },
    {
        "id": "c623bd2b8eacce76",
        "type": "subflow:fb9ffeb46b14d217",
        "z": "b6a0c09cbb5afeb4",
        "name": "",
        "env": [
            {
                "name": "entity_id",
                "value": "switch.vacuum_node_red_flow",
                "type": "str"
            }
        ],
        "x": 390,
        "y": 220,
        "wires": [
            [
                "61f1ba67969e4e90"
            ]
        ]
    },
    {
        "id": "61f1ba67969e4e90",
        "type": "api-current-state",
        "z": "b6a0c09cbb5afeb4",
        "name": "Установлен ли бак с водой?",
        "server": "7968c6b6.08c848",
        "version": 3,
        "outputs": 2,
        "halt_if": "installed",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.dreame_bot_l10_pro_water_tank",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 400,
        "y": 260,
        "wires": [
            [
                "8544030724e4f203"
            ],
            [
                "510ca24d98673126"
            ]
        ]
    },
    {
        "id": "1df27f62d5c5fc64",
        "type": "counter",
        "z": "b6a0c09cbb5afeb4",
        "name": "Счетчик кол-во запусков пылесоса со старой водой в баке",
        "init": "0",
        "step": "1",
        "lower": "",
        "upper": "",
        "mode": "increment",
        "outputs": "1",
        "x": 1240,
        "y": 140,
        "wires": [
            [
                "3a9dc701b9e9bfc2"
            ]
        ]
    },
    {
        "id": "8544030724e4f203",
        "type": "switch",
        "z": "b6a0c09cbb5afeb4",
        "name": "Лимит работы с грязной тряпкой",
        "property": "old_water",
        "propertyType": "flow",
        "rules": [
            {
                "t": "lt",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 740,
        "y": 240,
        "wires": [
            [
                "1df27f62d5c5fc64",
                "510ca24d98673126"
            ],
            []
        ]
    },
    {
        "id": "510ca24d98673126",
        "type": "api-call-service",
        "z": "b6a0c09cbb5afeb4",
        "name": "Запустить пылесос",
        "server": "7968c6b6.08c848",
        "version": 5,
        "debugenabled": false,
        "domain": "vacuum",
        "service": "start",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "vacuum.dreame_bot_l10_pro"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1020,
        "y": 260,
        "wires": [
            [
                "d0d4c0e5b342ff2c"
            ]
        ]
    },
    {
        "id": "3a9dc701b9e9bfc2",
        "type": "change",
        "z": "b6a0c09cbb5afeb4",
        "name": "Сохранить значение в flow",
        "rules": [
            {
                "t": "move",
                "p": "count",
                "pt": "msg",
                "to": "old_water",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1600,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "15d3fc2d232fc3af",
        "type": "inject",
        "z": "b6a0c09cbb5afeb4",
        "name": "В 11:45",
        "props": [],
        "repeat": "",
        "crontab": "45 11 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 920,
        "wires": [
            [
                "85aee8399e7a5a2b"
            ]
        ]
    },
    {
        "id": "1073ec03683c3dd4",
        "type": "inject",
        "z": "b6a0c09cbb5afeb4",
        "name": "В 15:45",
        "props": [],
        "repeat": "",
        "crontab": "45 15 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 960,
        "wires": [
            [
                "85aee8399e7a5a2b"
            ]
        ]
    },
    {
        "id": "19808f3c96a04e20",
        "type": "inject",
        "z": "b6a0c09cbb5afeb4",
        "name": "В 19:45",
        "props": [],
        "repeat": "",
        "crontab": "45 19 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 1000,
        "wires": [
            [
                "85aee8399e7a5a2b"
            ]
        ]
    },
    {
        "id": "96b5f73dd824e500",
        "type": "api-current-state",
        "z": "b6a0c09cbb5afeb4",
        "name": "Установлен ли бак с водой?",
        "server": "7968c6b6.08c848",
        "version": 3,
        "outputs": 2,
        "halt_if": "installed",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.dreame_bot_l10_pro_water_tank",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "Отсутствует бак с водой в роботе-пылесосе",
                "valueType": "str"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 380,
        "y": 1000,
        "wires": [
            [
                "da7f4092f626dfb4"
            ],
            [
                "40feece89ad81499"
            ]
        ]
    },
    {
        "id": "da7f4092f626dfb4",
        "type": "switch",
        "z": "b6a0c09cbb5afeb4",
        "name": "Лимит работы с грязной тряпкой",
        "property": "old_water",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gte",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 720,
        "y": 980,
        "wires": [
            [
                "7c51970a6e76eb63"
            ]
        ]
    },
    {
        "id": "40feece89ad81499",
        "type": "subflow:849de7d11f2ee5ff",
        "z": "b6a0c09cbb5afeb4",
        "name": "",
        "x": 1400,
        "y": 1020,
        "wires": []
    },
    {
        "id": "7c51970a6e76eb63",
        "type": "change",
        "z": "b6a0c09cbb5afeb4",
        "name": "\"Нужно поменять тряпку в роботе-пылесосе\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Нужно поменять тряпку в роботе-пылесосе",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 980,
        "wires": [
            [
                "40feece89ad81499"
            ]
        ]
    },
    {
        "id": "71a6fb3e41ad4033",
        "type": "trigger-state",
        "z": "b6a0c09cbb5afeb4",
        "name": "Замена тряпки?",
        "server": "7968c6b6.08c848",
        "version": 4,
        "inputs": 0,
        "outputs": 3,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.dreame_bot_l10_pro_water_tank",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "not_installed"
            },
            {
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "installed"
            }
        ],
        "customOutputs": [
            {
                "messageType": "custom",
                "messageValue": "{\"reset\": true}",
                "messageValueType": "json",
                "comparatorPropertyType": "always",
                "comparatorPropertyValue": "",
                "comparatorType": "is",
                "comparatorValue": "",
                "comparatorValueDataType": "str"
            }
        ],
        "outputInitially": false,
        "stateType": "str",
        "enableInput": false,
        "x": 820,
        "y": 80,
        "wires": [
            [],
            [],
            [
                "1df27f62d5c5fc64"
            ]
        ]
    },
    {
        "id": "483d8e54317a8eb0",
        "type": "inject",
        "z": "b6a0c09cbb5afeb4",
        "name": "Инитциализация",
        "props": [
            {
                "p": "reset",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 810,
        "y": 140,
        "wires": [
            [
                "1df27f62d5c5fc64"
            ]
        ]
    },
    {
        "id": "8ff49ffb172025df",
        "type": "ha-wait-until",
        "z": "b6a0c09cbb5afeb4",
        "name": "Ожидать возвращение на базу",
        "server": "7968c6b6.08c848",
        "version": 2,
        "outputs": 2,
        "entityId": "sensor.dreame_bot_l10_pro_status",
        "entityIdFilterType": "exact",
        "property": "state",
        "comparator": "is",
        "value": "returning",
        "valueType": "str",
        "timeout": "2",
        "timeoutType": "num",
        "timeoutUnits": "hours",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "outputProperties": [],
        "entityLocation": "data",
        "entityLocationType": "none",
        "x": 990,
        "y": 460,
        "wires": [
            [
                "b709c059a3f080be"
            ],
            []
        ]
    },
    {
        "id": "b709c059a3f080be",
        "type": "api-call-service",
        "z": "b6a0c09cbb5afeb4",
        "name": "Пауза",
        "server": "7968c6b6.08c848",
        "version": 5,
        "debugenabled": false,
        "domain": "vacuum",
        "service": "pause",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "vacuum.dreame_bot_l10_pro"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1070,
        "y": 500,
        "wires": [
            [
                "e339ee3b015a89d2"
            ]
        ]
    },
    {
        "id": "650440282a44dc3e",
        "type": "api-call-service",
        "z": "b6a0c09cbb5afeb4",
        "name": "Отправить пылелос до мусорки",
        "server": "7968c6b6.08c848",
        "version": 5,
        "debugenabled": false,
        "domain": "dreame_vacuum",
        "service": "vacuum_clean_zone",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "vacuum.dreame_bot_l10_pro"
        ],
        "data": "{\"zone\":[-4430, 765, -4297, 892]}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 980,
        "y": 420,
        "wires": [
            [
                "8ff49ffb172025df"
            ]
        ]
    },
    {
        "id": "d0d4c0e5b342ff2c",
        "type": "ha-wait-until",
        "z": "b6a0c09cbb5afeb4",
        "name": "Ожидать возвращение на базу",
        "server": "7968c6b6.08c848",
        "version": 2,
        "outputs": 2,
        "entityId": "sensor.dreame_bot_l10_pro_status",
        "entityIdFilterType": "exact",
        "property": "state",
        "comparator": "is",
        "value": "returning",
        "valueType": "str",
        "timeout": "2",
        "timeoutType": "num",
        "timeoutUnits": "hours",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "outputProperties": [],
        "entityLocation": "data",
        "entityLocationType": "none",
        "x": 990,
        "y": 320,
        "wires": [
            [
                "7950583e6ddd11f1"
            ],
            []
        ]
    },
    {
        "id": "035e886c06b39002",
        "type": "subflow:849de7d11f2ee5ff",
        "z": "b6a0c09cbb5afeb4",
        "name": "",
        "x": 980,
        "y": 600,
        "wires": []
    },
    {
        "id": "e339ee3b015a89d2",
        "type": "change",
        "z": "b6a0c09cbb5afeb4",
        "name": "\"Почистите контейнер для мусора\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Почистите контейнер для мусора",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 560,
        "wires": [
            [
                "035e886c06b39002"
            ]
        ]
    },
    {
        "id": "db7fc75af1e22a72",
        "type": "counter",
        "z": "b6a0c09cbb5afeb4",
        "name": "Счетчик кол-во запусков пылесоса без очистки контейнера для мусора",
        "init": "0",
        "step": "1",
        "lower": "",
        "upper": "",
        "mode": "increment",
        "outputs": "1",
        "x": 680,
        "y": 700,
        "wires": [
            [
                "28e3045e1d0b51c5"
            ]
        ]
    },
    {
        "id": "28e3045e1d0b51c5",
        "type": "change",
        "z": "b6a0c09cbb5afeb4",
        "name": "Сохранить значение в flow",
        "rules": [
            {
                "t": "move",
                "p": "count",
                "pt": "msg",
                "to": "clear_count",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "a071aab9d289e854",
        "type": "server-state-changed",
        "z": "b6a0c09cbb5afeb4",
        "name": "Очистка контейнера с мусором?",
        "server": "7968c6b6.08c848",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.0x00158d00045eea0d_contact",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "habool",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "reset",
                "propertyType": "msg",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "x": 220,
        "y": 700,
        "wires": [
            [
                "db7fc75af1e22a72"
            ]
        ]
    },
    {
        "id": "7950583e6ddd11f1",
        "type": "switch",
        "z": "b6a0c09cbb5afeb4",
        "name": "Лимит работы с полным баком",
        "property": "clear_count",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gte",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 990,
        "y": 380,
        "wires": [
            [
                "650440282a44dc3e"
            ]
        ]
    },
    {
        "id": "85aee8399e7a5a2b",
        "type": "subflow:fb9ffeb46b14d217",
        "z": "b6a0c09cbb5afeb4",
        "name": "",
        "env": [
            {
                "name": "entity_id",
                "value": "switch.vacuum_node_red_flow",
                "type": "str"
            }
        ],
        "x": 370,
        "y": 960,
        "wires": [
            [
                "96b5f73dd824e500"
            ]
        ]
    },
    {
        "id": "169b395ee9da9f2c",
        "type": "inject",
        "z": "b6a0c09cbb5afeb4",
        "name": "Инитциализация",
        "props": [
            {
                "p": "reset",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 660,
        "wires": [
            [
                "db7fc75af1e22a72"
            ]
        ]
    },
    {
        "id": "0b02643022428b08",
        "type": "server-state-changed",
        "z": "b6a0c09cbb5afeb4",
        "name": "Началась уборка",
        "server": "7968c6b6.08c848",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.dreame_bot_l10_pro_status",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "cleaning",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [],
        "x": 270,
        "y": 740,
        "wires": [
            [
                "db7fc75af1e22a72"
            ],
            []
        ]
    }
]